@import url('https://fonts.googleapis.com/css2?family=Rubik');
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Rubik', sans-serif;

}
.App
{
  height: 100vh;
  overflow-y: hidden;
}
.headerwrap
{
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  z-index: 0;
}
.header{
  width: 100vw;
  padding-top: 30px;
  color: white;
  font-weight: 700 ;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto 0 auto;
}
.ipinput
{
  width:80%;
  margin-top: 20px;
  border-radius:10px 0 0 10px;
  font-weight: 500;
  border: 0ch;

}
.submitarrow
{
  background-color: black;
  border: 0ch;
  border-radius: 0 10px 10px 0  ;
  padding: 0 10px;
  height: 38px;
 
}
.submitarrow img{
  margin: auto 0 auto 0;
  vertical-align: middle;
}
@media screen and (min-width: 576px) {

  .ipinput{
    width:min(40%,400px) ;
  }
}

.formContainer
{
  width: 300px;
  height: 300px;
  
}
.formhead
{
  background-color: white;
  padding: 20px 0 29px 0;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.sawowrapper
{ 

  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;



  background: rgb(12,223,232);
  background: -moz-linear-gradient(173deg, rgba(12,223,232,1) 0%, rgba(4,83,87,1) 100%);
  background: -webkit-linear-gradient(173deg, rgba(12,223,232,1) 0%, rgba(4,83,87,1) 100%);
  background: linear-gradient(173deg, rgba(12,223,232,1) 0%, rgba(4,83,87,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0cdfe8",endColorstr="#045357",GradientType=1);

}

.leaflet-container
{
  height: 70vh;
  width: 100vw;
}